name: CI-DockerBuild

on: 
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    uses: alexisvg2520/devops-pipelines/.github/workflows/docker-workflow.yml@main
    with:
      docker_image_name: holamundobase
      secrets: inherit